# Puerto del servicio de grafana
GRAFANA_PORT=7000

GF_DEFAULT_THEME=dark
GF_SERVER_DOMAIN=localhost
GF_SERVER_ROOT_URL=http://localhost:7000
GF_SERVER_SERVE_FROM_SUB_PATH=false

# GF_SERVER_DOMAIN=localhost
# GF_SERVER_ROOT_URL=http://localhost:7000/grafana
# GF_SERVER_SERVE_FROM_SUB_PATH=true

# Debe ser un dominio o IP de acceso público
LOKI_SERVER_URL=http://192.168.0.1:3100
